{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/iuch/css/tables.css') }}">
{% endblock %}

{%  block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice warning">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h1 class="page-title">Bienvenue {{ app.user.firstname }}</h1>

    <div class="row row-fluid">
        <div class="col-sm-3">
            {% if user.service is not empty %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Service référent</h3>
                    </div>
                    <div class="panel-body">
                        <h4>{{ user.service.nom }}</h4>
                        {% if user.service.chefService is not null %}
                            <p><strong>Chef de service : </strong>{{ user.service.chefService }}</p>
                        {% endif %}
                        {% if user.service.chefService.email is defined %}
                            <p><strong>E-mail chef de service : </strong> {{ user.service.chefService.email }}</p>
                        {% endif %}
                        {% if user.service.email is defined %}
                            <p><strong>E-mail service : </strong> {{ user.service.email }}</p>
                        {% endif %}
                        {% if user.service.telephone is defined %}
                            <p><strong>Téléphone service : </strong> {{ user.service.telephone }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if user.services is not empty %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Services secondaires</h3>
                    </div>
                    <div class="panel-body">
                        {% for service in user.services %}
                            <div class="secondary-services">
                                <h4>{{ service.nom }}</h4>
                                {% if service.chefService is not null %}
                                    <p><strong>Chef de service : </strong>{{ service.chefService }}</p>
                                {% endif %}
                                {% if service.chefService.email is defined %}
                                    <p><strong>E-mail Chef de Service : </strong> {{ service.chefService.email }}</p>
                                {% endif %}
                                {% if service.email is defined %}
                                    <p><strong>E-mail service : </strong> {{ service.email }}</p>
                                {% endif %}
                                {% if service.telephone is defined %}
                                    <p><strong>Téléphone service : </strong> {{ service.telephone }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if user.codeCopieur is not empty %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Votre code copieur</h3>
                    </div>
                    <div class="panel-body-copieur">
                        <h4>{{ user.codeCopieur }}</h4>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="chartes-list col-sm-9">
            <h3>Liste des chartes</h3>
            <table id="chartesTable" class="table table-hover tablesorter table-bordered">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Service</th>
                        <th>Charte</th>
                        <th>Obligatoire</th>
                        <th>Signature</th>
                    </tr>
                </thead>

                <tbody>
                {% for charte in chartes %}
                    <tr>
                        <td>{{ charte.nom }}</td>
                        <td>
                            {% if charte.description is defined %}
                                {{ charte.description }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if charte.service %}
                                {{ charte.service }}
                            {% else %}
                                Tous services
                            {% endif %}
                        </td>
                        <td><a href="{{ path('iuch_get_charte', {'charte_file': charte.charteFile}) }}" target="_blank">{{ charte.fileName }}</a></td>
                        <td>
                            {% if charte.obligatoire == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        {% if charte.signe == false %}
                            <td><a href="{{ path('iuch_signature', {'charte_id':charte.idCharte }) }}">Signer la charte</a></td>
                        {% else %}
                            <td>Signée le {{ charte.dateSignature|date('d/m/Y') }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="col-sm-6">
                <h3>Remise des tenues</h3>
                {% if tenues is not empty %}
                    <table id="tenueTable" class="table table-hover tablesorter table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Nb donné
                            </th>
                            <th>
                                Date donnée
                            </th>
                            <th>
                                Date rendue
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tenue in tenues %}
                            <tr>
                                <td scope="row">{{ tenue.type }}</td>
                                <td scope="row">{{ tenue.nombreDonne }}</td>
                                <td scope="row">{{ tenue.dateDonnee|date('d/m/Y') }}</td>
                                <td scope="row">
                                    {% if tenue.dateRendu is not null %}
                                        {{ tenue.dateRendu|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Vous n'avez pas de tenues.
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h3>Remise du matériel</h3>
                {% if materiels is not empty %}
                    <table id="tenueTable" class="table table-hover tablesorter table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Date remise
                            </th>
                            <th>
                                Date rendue
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for materiel in materiels %}
                            <tr>
                                <td>
                                    {{ materiel.type }}
                                </td>
                                <td>{{ materiel.dateRemise|date('d/m/Y') }}</td>
                                <td>
                                    {% if materiel.dateRendu is not null %}
                                        {{ materiel.dateRendu|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Vous n'avez pas encore eu de matériel.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/iuch/js/jquery.tablesorter.min.js') }}"></script>
    <script>
        $(document).ready(function()
                {
                    $("#chartesTable").tablesorter( {sortList: [[5,0],[4,1]]} );
                }
        );
    </script>
{% endblock %}
