<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Interface de gestion des utilisateurs du centre hospitalier de La Loupe{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/iuch/img/favicon.png') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/iuch/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/iuch/bootstrap/css/bootstrap.min.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/iuch/css/main.css') }}">


    </head>

    <body>

        <header class="main-header">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('iuch_homepage') }}">Interface des utilisateurs de du CH de La Loupe</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user %}
                                <li class="profile-link">
                                    <a href="{{ path('sonata_user_profile_show') }}">
                                        {% if app.user.photo is not null %}
                                            <img height="60" src="{{ path('iuch_get_photo', {'photo_id': app.user.photo.id}) }}" alt="{{ app.user.username }}" />
                                        {% else %}
                                            <img height="60" src="{{ asset('bundles/iuch/img/user.jpg') }}" />
                                        {% endif %}
                                        {{ app.user.firstname }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_DASHBOARD') %}
                                    <li><a href="{{ path('sonata_admin_dashboard') }}">Administration</a></li>
                                {% endif %}
                                {% if trombinoscopeEnabled == true %}
                                    <li><a href="{{ path('iuch_trombinoscope') }}">Trombinoscope</a></li>
                                {% endif %}
                                <li><a href="{{ path('sonata_user_security_logout') }}">Déconnexion</a></li>
                            {% else %}
                                <li><a href="{{ path('sonata_user_security_login') }}">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <div class="row">

                {% block body %}{% endblock %}

            </div>
        </div>

        <script src="{{ asset('bundles/iuch/js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('bundles/iuch/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
