{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
{% endblock %}

{% block sonata_profile_content %}
    <h2 class="page-title">Mon profil</h2>
    <div class="row row-fluid show_profile">
        <div class="photo-profile col-sm-2">
            {% if user.photo is not null %}
                <img width="150" src="{{ path('iuch_get_photo', {'photo_id': user.photo.id}) }}" />
            {% else %}
                <img width="150" src="{{ asset('bundles/iuch/img/user.jpg') }}" />
            {% endif %}
        </div>

        <ul class="col-sm-10">
            <li>
                <strong>Matricule :</strong>
                {{ user.username }}
            </li>

            {% if user.lastname %}
                <li>
                    <strong>Nom :</strong>
                    {{ user.lastname }}
                </li>
            {% endif %}

            {% if user.firstname %}
                <li>
                    <strong>Prénom :</strong>
                    {{ user.firstname }}
                </li>
            {% endif %}

            <li>
                <strong>Date de naissance :</strong>
                {{ user.dateOfBirth|date('d M Y') }}
            </li>

            {% if user.adresse and user.ville and user.zip %}
                <li>
                    <strong>Adresse :</strong>
                    {{ user.adresse }} {{ user.zip }} {{ user.ville }}
                </li>
            {% endif %}

            {% if user.phone %}
                <li>
                    <strong>Téléphone :</strong>
                    {{ user.phone }}
                </li>
            {% endif %}

            {% if user.email %}
                <li>
                    <strong>Email :</strong>
                    {{ user.email }}
                </li>
            {% endif %}

            {% if user.fonction %}
                <li>
                    <strong>Fonction :</strong>
                    {{ user.fonction.nom }}
                </li>
            {% endif %}

            {% if user.service %}
                <li>
                    <strong>Service référent :</strong>
                    {{ user.service.nom }}
                </li>
            {% endif %}

            {% if user.services is not empty %}
                <li>
                    <strong>Services secondaires :</strong>
                    {{ user.services|join(' - ') }}
                </li>
            {% endif %}
        </ul>
    </div>

    <a class="btn btn-primary" href="{{ path('sonata_user_profile_edit') }}">Modifier mon profil</a>
{% endblock %}
