{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/iuch/css/tables.css') }}">
{% endblock %}

{%  block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice warning">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row row-fluid">
        <h1>Bienvenue {{ app.user.firstname }}</h1>
    </div>

    <div class="row row-fluid">
        <div class="col-sm-4">
            {% if user.fonction is not empty %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fonction</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ user.fonction.nom }}</p>
                    </div>
                </div>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('sonata_user_profile_edit') }}">Modifier le profile</a>
        </div>
        <div class="col-sm-8">
            {% if user.service is not empty %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Service {{ user.service.nom }}</h3>
                    </div>
                    <div class="panel-body">
                        {% if user.service.chefService is defined %}
                            <p><strong>Chef de service : </strong>{{ user.service.chefService }}</p>
                        {% endif %}
                        {% if user.service.chefService.email is defined %}
                            <p><strong>E-mail Chef de Service : </strong> {{ user.service.chefService.email }}</p>
                        {% endif %}
                        {% if user.service.email is defined %}
                            <p><strong>E-mail Service : </strong> {{ user.service.email }}</p>
                        {% endif %}
                        {% if user.service.telephone is defined %}
                            <p><strong>Téléphone Service : </strong> {{ user.service.telephone }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row row-fluid">
        <h3>Liste des chartes</h3>
        <table id="chartesTable" class="table table-hover tablesorter">
            <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Description
                </th>
                <th>
                    Service
                </th>
                <th>
                    Charte
                </th>
                <th>
                    Signature
                </th>
            </tr>
            </thead>
            <tbody>
                {% for charte in chartes %}
                    <tr>
                        <td scope="row">{{ charte.nom }}</td>
                        <td scope="row">{{ charte.description }}</td>
                        <td scope="row">{{ charte.service }}</td>
                        <td scope="row"><a href="{{ path('iuch_get_charte', {'charte_file': charte.charteFile}) }}" target="_blank">{{ charte.fileName }}</a></td>
                        {% if charte.signe == false %}
                            <td scope="row"><a href="{{ path('iuch_signature', {'charte_id':charte.idCharte }) }}">Signer la charte</a></td>
                        {% else %}
                            <td scope="row">Signé le {{ charte.dateSignature|date('d m Y') }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/iuch/js/jquery.tablesorter.min.js') }}"></script>
    <script>
        $(document).ready(function()
            {
                $("#chartesTable").tablesorter( {sortList: [[4,0],[0,0]]} );
            }
        );
    </script>
{% endblock %}