{% extends 'base.html.twig' %}

{% block body %}
    <h1>InfoMail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infoMail.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ infoMail.subject }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ infoMail.typeMail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('infomail_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form(delete_form) }}
        </li>
        <li>
            {{ form(send_form) }}
        </li>
    </ul>
{% endblock %}
