{% extends sonata_block.templates.block_base %}


{% block block %}

    <script src="{{ asset('bundles/iuch/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/iuch/js/jquery.dynatable.js') }}"></script>

    <select id="search-year" name="year">
        <option></option>
        {% for year, datas in bar %}
            <option value="{{ year }}" {% if ( year == 'all' ) %} selected="selected" {% endif %}>{{ year }}</option>
        {% endfor %}
    </select>

    <div id="chart-example-chart"></div>

    <p><a class="btn primary" id="toggle-chart-table">Cliquez pour voir sous forme de tableau</a></p>

    <table id="chart-example" class="table table-bordered">
        <thead><tr><th>Year</th><th>City</th><th>Population</th></tr></thead>
        <tbody>
        {% for year, datas in bar %}
            {% for charte, pourcentage in datas %}
                <tr><td>{{ year }}</td><td>{{ charte }}</td><td>{{ pourcentage }}%</td></tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <script>

        $('#chart-example').dynatable();

        (function() {
            var $table = $('#chart-example'), $chart = $('#chart-example-chart'), chart;

            // Create a button to toggle our table's visibility.
            // We could just hide it completely if we don't need it.
            $('#toggle-chart-table').click(function(e) {
                e.preventDefault();
                $table.toggle();
            });

            // Set up our Highcharts chart
            chart = new Highcharts.Chart({
                chart: {
                    type: 'column',
                    renderTo: 'chart-example-chart'
                },
                title: {
                    text: 'Signatures de chartes non obligatoire'
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Signatures (%)'
                    }
                },
                series: [{
                    name: 'Signatures',
                    color: '#006A72'
                }]
            });

            // Create a function to update the chart with the current working set
            // of records from dynatable, after all operations have been run.
            function updateChart() {
                var dynatable = $table.data('dynatable'), categories = [], values = [];
                $.each(dynatable.settings.dataset.records, function() {
                    categories.push(this.city);
                    values.push(parseFloat(this.population));
                });

                chart.xAxis[0].setCategories(categories);
                chart.series[0].setData(values);
            };

            // Attach dynatable to our table,
            // and trigger our update function whenever we interact with it.
            $table
                    .dynatable({
                        inputs: {
                            queryEvent: 'blur change keyup',
                            recordCountTarget: $chart,
                            paginationLinkTarget: $chart,
                            searchTarget: $chart,
                            perPageTarget: $chart
                        },
                        dataset: {
                            perPageOptions: [5, 10, 20],
                            sortTypes: {
                                'charte': 'pourcentage'
                            }
                        }
                    })
                    .hide()
                    .bind('dynatable:afterProcess', updateChart);

            // Run our updateChart function for the first time.
            updateChart();
        })();

            var dynatable = $('#chart-example').dynatable({
                features: {
                    paginate: false,
                    recordCount: false,
                    sorting: true
                }
            }).data('dynatable');

            $('#search-year').change( function() {
                var value = $(this).val();
                if (value === "") {
                    dynatable.queries.remove("year");
                } else {
                    dynatable.queries.add("year",value);
                }
                dynatable.process(true);
            });

        dynatable.queries.add("year","all");
        dynatable.process(true);
    </script>

{% endblock %}
