{% extends sonata_block.templates.block_base %}


{% block block %}
    <hr>
    <script src="{{ asset('bundles/iuch/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/iuch/js/jquery.dynatable.js') }}"></script>
  <div class="container">
    <label class="select-label">Années :</label>
   <select id="search-year" class="select-all" name="year">
        <option></option>
        {% for year, datas in bar %}
            <option value="{{ year }}" {% if ( year == 'toutes' ) %} selected="selected" {% endif %}>{{ year }}</option>
        {% endfor %}
    </select>

    <div id="chart-stats"></div>

    <p class="select-chart"><a class="btn primary" id="toggle-chart-table">Cliquez pour voir sous forme de tableau</a></p>

    <table id="chart-table" class="table table-bordered">
        <thead><tr><th>Années</th><th>Chartes</th><th>Pourcentages</th></tr></thead>
        <tbody>
        {% for year, datas in bar %}
            {% for charte, pourcentage in datas %}
                <tr><td>{{ year }}</td><td>{{ charte }}</td><td>{{ pourcentage }}%</td></tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <script>
        (function() {
            var $table = $('#chart-table'),
                $chart = $('#chart-stats'),
                chart;

            // Create a button to toggle our table's visibility.
            // We could just hide it completely if we don't need it.
            $('#toggle-chart-table').click(function(e) {
                e.preventDefault();
                $table.toggle();
            });

            // Set up our Highcharts chart
            chart = new Highcharts.Chart({
                chart: {
                    type: 'column',
                    renderTo: 'chart-stats',
                    height: 400
                },
                title: {
                    text: 'Signatures de chartes non obligatoires :'
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Signatures (%)'
                    }
                },
                series: [{
                    name: 'Signatures',
                    color: '#2DAB62'
                }]
            });

            // Create a function to update the chart with the current working set
            // of records from dynatable, after all operations have been run.
            function updateChart() {
                var dynatable = $table.data('dynatable'), categories = [], values = [];
                $.each(dynatable.settings.dataset.records, function() {
                    categories.push(this.chartes);
                    values.push(parseFloat(this.pourcentages));
                });

                chart.xAxis[0].setCategories(categories);
                chart.series[0].setData(values);
            };

            // Attach dynatable to our table,
            // and trigger our update function whenever we interact with it.
            $table
                .dynatable({
                    inputs: {
                        queryEvent: 'blur change keyup',
                        recordCountTarget: $chart,
                        paginationLinkTarget: $chart,
                        searchTarget: $chart,
                        perPageTarget: $chart,
                        perPageText: 'Voir : ',
                        paginationPrev: 'Précédent',
                        paginationNext: 'Suivant',
                        recordCountText: 'Affichage de '
                    },
                    dataset: {
                        perPageOptions: [5, 10, 20],
                        sortTypes: {
                            'charte': 'pourcentage'
                        }
                    },
                    features: {
                        paginate: true,
                        sort: true,
                        pushState: false,
                        search: true,
                        recordCount: true,
                        perPageSelect: true
                    }
                })
                .hide()
                .bind('dynatable:afterProcess', updateChart);

                var dynatable = $table.dynatable({
                    features: {
                        paginate: false,
                        recordCount: false,
                        sorting: true
                    }
                }).data('dynatable');

                $('#search-year').change( function() {
                    var value = $(this).val();
                    if (value === "") {
                        dynatable.queries.remove("années");
                    } else {
                        dynatable.queries.add("années",value);
                    }
                    dynatable.process(true);
                });

                dynatable.queries.add("années","toutes");
                dynatable.process(true);

                // Run our updateChart function for the first time.
                updateChart();
        })();
    </script>
  </div>
    <hr>
{% endblock %}
